<h1>Mersen#input</h1>
<h3>Условие</h3>
<p>Простое число называют числом Мерсена, если оно может быть представлено в виде 2^р-1, где р-также простое число. Написать программу, определяющую количество чисел Мерсена меньше или равно некоторого числа n,которое вводится с клавиатуры. Вывести на печать числа Мерсена и их количество в указанном диапазоне. </p>
<br/>
<p>Введите положительное число</p>
<%= form_tag("/mersen/view", :method => "get") do %>
    <%= label_tag("Значение n:") %>
    <%= text_field_tag(:val)%> <br/>
    <br/>
    <%= submit_tag("Найти числа Мерсена") %>
<% end %>
